<h1>
    Login
</h1>
<form action="login" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="email" autocomplete="off"
        required>
    </div>
    <div>
        <label for="password">Pass</label>
        <input type="password" id="password" name="password" placeholder="password" autocomplete="off"
        required>
    </div>
    <button type="submit">Login</button>
</fomr>
<script>
    
</script>
<a href="/register">Regis</a> 


